/*
# pattern view
** all styles in pattern view **
*/

//button icon
.btnIcon {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	overflow: hidden;

	color: #fff;
	background: transparent;

	font-size: 32px;
	line-height: 60px;
	text-align: center;

	@include transition(all $transSpeed $transEasing);

	text-decoration: none!important;
	&:hover {
		background: rgba(0,0,0,0.2);
	}
}
