/*
# Settings panel
** drawer panel for settings **
*/

// settings container
// -------------------------------------------------------------------------------------------

.app-settings {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: $settingsWidth;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 100;
	color: #fff;
	background: $themeBlue;
	//default pos (hidden)
	@include transform( translateX(100%) );
}
