
//colors
@import "_ios7colors.scss";
$themeBlue: #2a9fd8;
$invalid: $ios7Red;

//typography
$baseFontSize: 13px;
$baseFontFamily: 'Lato', sans-serif;

//transition and animations
$transSpeed: 0.25s;
$transEasing: ease-in-out;

//layout
$appMinWidth: 650px;
$settingsWidth: 300px;
$gutterSize: 15px;
