<!-- dashboard container -->
<div class="app-dash" id="app-dash">
	<!-- dashboard header -->
	<div class="app-dash-header app-header cfix">
		<div class="utils"><!--
		--><a href="" class="btnIcon" title="Add new pattern"
			ng-click="newPattern()"><i class="icon ion-android-add"></i></a><!--
		--></div>
		<div class="utils"><!--
		--><a href="" class="btnIcon" title="Sign in"
			ng-hide="user.id"
			ng-click="login('google')"><i class="icon ion-person"></i></a><!--
		--><a href="" class="btnIcon" title="Sign out"
			ng-show="user.id"
			ng-click="logout()">
				<img class="profile" alt="User profile picture"
					ng-src="{{::user.picture}}">
			</a><!--
		--></div>
		<h1 class="logo" title="Pattern Playground">
			<img src="imgs/logo.svg" alt="Playground brand logo">
		</h1>
	</div>
	<!-- dashboard main -->
	<div class="app-dash-main">
		<!-- main content -->
		<div class="app-content-main">
			<!-- pattern list -->
			<div class="app-patterns-list cfix">
				<!-- pattern item -->
				<div class="btnPattern"
					ng-repeat="pattern in patterns|objToArr|orderBy:'lastupdate':true track by pattern.id"
					ng-if="isPatternVisible(pattern)">
					<div class="tags cfix">
						<span class="tag grn"
							title="This pattern is new"
							ng-if="isNewPattern(pattern.lastupdate)"
							><i class="ion-egg"></i></span>
						<span class="tag blu"
							title="This pattern is private"
							ng-if="!pattern.isPublic"
							><i class="ion-locked"></i></span>
					</div>
					<a class="title" ng-bind="pattern.title" href="#pattern/{{::pattern.id}}"></a>
					<span class="info repo"><b>Repo</b><span ng-bind="::pattern.repo"></span></span></span>
					<span class="info author"><b>Author</b><span ng-bind="::pattern.author"></span></span>
					<span class="info date"><b>Updated</b><span ng-bind="::pattern.lastupdate|toDisplayTime"></span></span>
					<div class="actions">
						<a class="btnAction view ion-eye" title="View/Edit"
							href="#pattern/{{::pattern.id}}"></a>
						<a class="btnAction copy ion-fork-repo" title="Duplicate"
							href="" ng-click="copyPattern(pattern.id)"></a>
						<a class="btnAction remove ion-trash-a" title="Remove"
							href="" ng-click="deletePattern(pattern.id)"></a>
					</div>
				</div>
			</div>
			<!-- messages -->
			<div class="app-msgs" ng-if="!user.id">
				<div class="app-msg">
					<span><b>Hint:</b> You are currently not logged in and can only see public patterns. Log in as a user to create your private patterns.</span>
				</div>
			</div>
		</div>
	</div>
	<!-- dashboard footer -->
	<div class="app-dash-footer">
	</div>
</div>
