<!-- login container -->
<div class="app-login" id="app-login">
	<!-- dashboard header -->
	<div class="app-login-header">
		<!-- brand -->
		<h1 class="logo" title="Pattern Playground">
			<img src="imgs/logo.svg" alt="" width="90" height="90">
		</h1>
	</div>
	<!-- login main -->
	<div class="app-login-main">
		<!-- login -->
		<div class="app-intro">
			<a href="" ng-click="login()">Login</a> | <a href="" ng-click="logout()">Logout</a>
		</div>
		<div class="app-user-info">
			<p>{{user.id}}</p>
			<p>{{user.name}}</p>
		</div>
	</div>
	<!-- login footer -->
	<div class="app-login-footer">
	</div>
</div>
