<!-- pattern container -->
<div class="app-pattern" id="app-pattern_{{::pattern.id}}">
	<!-- pattern editor -->
	<div class="app-pattern-header">
		<div class="utils"><!--
		--><a href="#home" class="btnIcon" title="Back to main"><i class="icon ion-grid"></i></a><!--
		--></div>
		<div class="utils"><!--
			--><a href="" class="btnIcon" title="Save to cloud"
				ng-click="save()"><i class="icon ion-ios-cloud-upload-outline"></i></a><!--
			--><a href="" class="btnIcon" title="Revert changes"
				ng-click="revert()"><i class="icon ion-ios-undo-outline"></i></a><!--
		--></div>
		<h1 class="heading">
			<span ng-bind="::pattern.title"></span>
			<span class="small">
				<span ng-bind="'Updated ' + sincelastupdate"></span>
				<span ng-bind="' by ' + pattern.author"></span>
			</span>
		</h1>
	</div>
	<!-- pattern editor -->
	<div class="app-pattern-editor">
		<div ng-model="input"
			ui-ace="{
				useWrapMode : true,
				showGutter: true,
				theme:'monokai',
				mode: 'xml',
				onLoad: aceLoaded,
				onChange: aceChanged
			}"></div>
	</div>
	<!-- pattern display -->
	<div class="app-pattern-display">
		<iframe id="app-pattern-display"></iframe>
	</div>
</div>
