/*
# dashboard view
** all styles in dashboard view **
*/

// common styles
// -------------------------------------------------------------------------------------------

.app-dash,
[class^="app-dash-"] {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: fade-out($ios7Silver, 0.95);
}

// container
.app-dash {
	top: 0;
	height: 100%;
}

// header
.app-dash-header {
	top: 0;
	height: 80px;
	color: #fff;
	background: $ios7Blue;
	z-index: 10;

	//brand logo
	.logo {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 90px;
		height: 90px;
		margin: 0 0 -30px -45px;
		padding: 0;
		overflow: hidden;
		background: #fff;
		// @include gradient($ios7YellowGradient1, $ios7YellowGradient2);
		border-radius: 22.5%;
		text-align: center;
		line-height: 90px;
		@include box-shadow( 0 2px 6px rgba(0,0,0,0.2), 0 6px 18px rgba(0,0,0,0.1) );
	}
}

// main
.app-dash-main {
	top: 80px;
	bottom: 0;
	color: #000;
	overflow: auto;
}

// footer
.app-dash-footer {
	display: none;
}

// patterns list
.app-patterns-list {
	//reset
	&,
	&>li {
		list-style:none;
	}

	//self
	max-width: 1020px;
	margin: 0 auto;
	padding: 60px 10px 30px 10px;

	//layout
	@include grid-inline-row();
	text-align: center;
}
